<html>
    <body>
        <h3>create: </h3>
        <form action="" method="POST">
            title: <input type="text" name="title" />
            body: <textarea type="text" name="body" > </textarea>
            UserID: <input type="text" name="UserTD" />
            <button type="submit">send</button>
        </form></br>

        <h3>Edit: </h3>
        <form action="" method="POST">
            title: <input type="text" name="title" />
            body: <textarea type="text" name="bode"> </textarea>
            UserID: <input type="text" name="UserID" />
            <button type="submit">send</button>
        </form></br>
        <h3>Delete</h3>
        <form action="" method="POST">
            <input type="text" name="id" />
            <button type="submit"> send</button>
        </form>
    </body>
</html>