<html>
    <body>
<h3>register:</h3>
    <form action="/author/register" method="POST">
    username: <input type="text" name="username" />
     password: <input type="password" name="password" />
       email:<input type="email" name="email" />
      <button type="submit">send</button>
    </form><br />
    <h3>login: </h3>
    <form action="/author/login" method="POST">
     username: <input type="text" name="username" />
     password: <input type="text" name="password" />
      <button type="submit">send</button>
    </form>
    </body>
    </html>