<html>
    <body>
        <h3>create: </h3>
        <form action="/post/createpost" method="POST">
            title: <input type="text" name="title" />
            body: <textarea type="text" name="body" > </textarea>
            UserID: <input type="text" name="userID" />
            <button type="submit">send</button>
        </form></br>

        <h3>Edit: </h3>
        <form action="/post/editpost" method="POST">
            id: <input type="text" name="id" />
            title: <input type="text" name="title" />
            body: <textarea type="text" name="bode"> </textarea>
            UserID: <input type="text" name="userID" />
            <button type="submit">send</button>
        </form></br>

        <h3>Delete</h3>
        <form action="/post/deletepost" method="POST">
           id: <input type="text" name="id" />
            <button type="submit"> send</button>
        </form></br>
        
        <div id="output"></div>
        <button onclick="alaki()">send</button>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
        <script>

        function alaki(){
        axios.post('/post/showpost',"NEW")
        .then(function (res) {
            console.log(res.data);
        document.getElementById("output").innerHTML = JSON.stringify(res.data);
      
        })
        .catch(function (err) {
            console.log(err)
        
        });
        };
        </script>
        
    </body>
</html>